body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

#navbar div {
  padding: 5px;
}

#container {
  align-items: center;
  cursor: default;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

#single-contact {
  display: flex;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #222222;
}

th,
td {
  padding: 5px;
}

tr:hover {
  background-color: #f2f2f2;
}

img {
  border-radius: 5px;
} 

#posts {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-box {
  display:flex;
  justify-content: center;
  align-items: center;

}

.register-box {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 360px;
  margin: auto;
  padding: 15px;

}
.register-form {
  display:flex;
  padding-top: 20px;
  border: 2px solid red;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 360px;
  height: 150px;
  

}

#usernameRegister, #registerPassword, #registerButton {
  height: 35px;
  /* border-radius: 2px; */
  
}

.register-header {
  display:flex;
  flex-direction: column;
  align-items:center
  
}

.login-box {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 360px;
  margin: auto;
  padding: 10px;

}
.login-form {
  display:flex;
  padding-top: 20px;
  border: 2px solid red;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  width: 360px;
  height: 150px;

}

#usernameLogin, #loginPassword, #loginButton {
  height: 30px;
} 








